.init {
	background: #F5F5F5 ;
	font-weight: bold ;
	color: #000000;
}
.wrong {
	background: #F5F5F5 ;
	font-weight: bold ;
	border: 1px #FF0000 solid ;
	color: #000000;
}
.right {
	background: #F5F5F5 ;
	font-weight: bold ;
	border: 1px #00FF00 solid;
	color: #000000;
}
.title {
    vertical-align: middle;
	font-weight: bold ;
	font-size: 36px;
}
.center{
	text-align: center;
}
a{
	text-decoration:none;
	color: #FF0000;
	cursor: pointer ;
}

.pagination{
}
.pagination *{
 display:inline;
 float:left;
 margin:0;
 padding:0;
 font-size:20px;
}
.pagination i{
 float:none;
 padding-right:1px;
}
.currentPage b{
 float:none;
 color:#f00;
}
.pagination li{
 list-style:none;
 margin:0 5px;
}
.pagination li li{
 position:relative;
 margin:-2px 0 0;
 font-family: Arial, Helvetica, sans-serif
}
.firstPage a,.previousPage a,.nextPage a,.lastPage a{
 overflow:hidden;
 height:0;
 text-indent:-9999em;
 border-top:8px solid #fff;
 border-bottom:8px solid #fff;
}
.pagination li li a{
 margin:0 1px;
 padding:0 4px;
 border:3px double #fff;
 +border-color:#eee;
 background:#eee;
 color:#06f;
 text-decoration:none;
}
.pagination li li a:hover{
 background:#f60;
 border-color:#fff;
 +border-color:#f60;
 color:#fff;
}
li.firstPage{
 margin-left:40px;
 border-left:3px solid #06f;
}
.firstPage a,.previousPage a{
 border-right:12px solid #06f;
}
.firstPage a:hover,.previousPage a:hover{
 border-right-color: #f60;
}
.nextPage a,.lastPage a{
 border-left:12px solid #06f;
}
.nextPage a:hover,.lastPage a:hover{
 border-left-color:#f60;
}
li.lastPage{
 border-right:3px solid #06f;
}
li li.currentState a{
 position:relative;
 margin:-1px 3px;
 padding:1px 4px;
 border:3px double #fff;
 border-color:#f60;
 background:#f60;
 color:#fff;
}
li.currentState,.currentState a,.currentState a:hover{
 border-color:#fff #ccc;
 cursor:default;
}
#preview,.img,img {
	width: 300px;
	height: 200px;
}
#preview {
	border: 1px solid #000;
}